<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <ion-slides *ngIf="dataLocalService.news.length === 0" [options]="sliderOpts">
    <ion-slide>
      <ion-label>No hay favoritos</ion-label>
    </ion-slide>
  </ion-slides>

  <app-news *ngIf="dataLocalService.news.length > 0" [news]="dataLocalService.news" [inFavorite]="true"></app-news>
</ion-content>
